body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-content: center;
    text-align: center;
    align-items: center;
}
.container{
   height:300px;
   width:238px;
    border: 5px solid black;;
}
#input{
    padding-top: 2px;
    border: 6px solid blue;
    height: 30px;
    width: 225px;;
    text-align: right;
    font-size: 1.5em;
}
.btn{
    height:40px;
    border-radius:10px;
    width: 40px;
    color: black;
    background-color: darksalmon;
    font-weight: bold;
    font-size: 1em;
}
.row{
    margin:10px;
    padding-top: 4px;
    display: flex;
    justify-content: space-between
}
